
/**********************************************************index*******************************************************/

.main-container {
    padding-top: 70px;
}

/**********************************************************index*******************************************************/

/**********************************************************navbar******************************************************/

.main-navbar {
    border: none;
    border-radius: 0;
}

.main-navbar .navbar-collapse.collapse,
.main-navbar .navbar-header {
    float: left;
}

.main-navbar .bar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    padding: 13px 15px;
    font-size: 18px;
    height: 50px;
    color: #9d9d9d;
}

.navbar-header .navbar-toggle-btn {
    height: 50px;
    padding: 0;
    margin: 0 15px;
    border: none;
}
.navbar-inverse .navbar-toggle-btn:hover,
.navbar-inverse .navbar-toggle-btn:focus {
    background-color: transparent;
}
.navbar-inverse .navbar-toggle-btn .icon-bar {
    background-color: #9d9d9d;
}
.navbar-inverse .navbar-toggle-btn:hover .icon-bar,
.navbar-inverse .navbar-toggle-btn:focus .icon-bar{
    background-color: #fff;
}

.navbar-right-side {
    float: right;
    color: #9d9d9d;
    margin-right: 0;
}

.user-card {
    height: 50px;
    line-height: 50px;
}
.user-card > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}

/**********************************************************navbar******************************************************/

/*********************************************************signin*******************************************************/

.signin {
    position: relative;
    margin-top: 88px;
    min-width: 1000px;
    height: 600px;
    background: #ededed;
}
.signin .container {
    margin-top: 100px;
}

.signin-form-container {
    position: absolute;
    width: 300px;
    padding: 15px;
    top: 204px;
    left: 50%;
    margin-left: 90px;
    background: #fff;
    border-radius: 4px;
}

.signin-logo-ct {
    text-align: center;
    margin: 0 0 30px;
}

.signin-form .checkbox {
    margin-left: 27px;
}
.signin-form .checkbox > a {
    float: right;
}
.signin-form .form-group:last-child {
    margin-bottom: 0;
}

.sigin-btn-group .btn {
    width: 130px;
}
.sigin-btn-group .btn:first-child {
    float: left;
}
.sigin-btn-group .btn:last-child {
    float: right;
}

/*********************************************************signin*******************************************************/

/*********************************************************signup*******************************************************/

.signup {
    margin-top: 88px;
}
.signup-header {
    background: #6495C6;
    border-radius: 4px 4px 0 0;
    height: 36px;
}
.signup-header h4 {
    font-size: 14px;
    line-height: 36px;
    font-weight: normal;
    color: #FFF;
    text-indent: 20px;
    margin: 0;
}

/*********************************************************signup*******************************************************/