
/**********************************************************index*******************************************************/

.main-container {
    padding-top: 70px;
}

/**********************************************************index*******************************************************/

/**********************************************************navbar******************************************************/

.main-navbar {
    border: none;
    border-radius: 0;
}

.main-navbar .navbar-collapse.collapse,
.main-navbar .navbar-header {
    float: left;
}

.navbar-header .navbar-toggle-btn {
    height: 50px;
    padding: 0;
    margin: 0 15px;
    border: none;
}
.navbar-inverse .navbar-toggle-btn:hover,
.navbar-inverse .navbar-toggle-btn:focus {
    background-color: transparent;
}
.navbar-inverse .navbar-toggle-btn .icon-bar {
    background-color: #9d9d9d;
}
.navbar-inverse .navbar-toggle-btn:hover .icon-bar,
.navbar-inverse .navbar-toggle-btn:focus .icon-bar{
    background-color: #fff;
}

.navbar-right-side {
    float: right;
    color: #9d9d9d;
    margin-right: 0;
}

.user-card {
    height: 50px;
    line-height: 50px;
}
.user-card > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}

/**********************************************************navbar******************************************************/

/*********************************************************signin*******************************************************/

.signin {
    border-top: 5px solid #68bde2;
}
.signin .container {
    margin-top: 100px;
}

.signin-form-container {
    width: 300px;
    margin: 0 auto;
}

.signin-logo-ct {
    text-align: center;
    margin: 0 0 30px;
}

.btn-signin {
    color: #fff;
    background-color: #fea85d;
    border-color: #fea85d;
}
.btn-signin:hover,
.btn-signin:focus {
    color: #fff;
    background-color: #fc7704;
    border-color: #fc7704;
}

.signin-form .checkbox {
    margin-left: 27px;
}
.signin-form .checkbox > a {
    float: right;
}

/*********************************************************signin*******************************************************/