<div class="navbar reset-password-bar">
    <div class="container">
        <div class="bar-header">
            <div class="navbar-brand">WebPageV5</div>
        </div>
        <div class="bar-text">找回密码</div>
        <div class="bar-right">
            <button class="btn navbar-btn btn-login" ng-click="signup()">注册</button>
            <button class="btn navbar-btn btn-login" ng-click="signin()">登录</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="reset-form-container">
        <form name="codeForm" class="reset-form">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="data.usercode" placeholder="请输入用户名">
            </div>
            <div class="form-group input-group">
                <input type="text" class="form-control" ng-model="data.authcode" placeholder="请输入验证码">
                <span class="input-group-addon">
                    <button class="btn btn-get-authcode" ng-click="getAuthCode()">获取验证码</button>
                </span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="data.newpassword" placeholder="请输入新密码">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="data.verifypassword" placeholder="请再次输入新密码">
            </div>
            <div class="text-center form-group submit-btn-group">
                <button class="btn btn-block" ng-click="resetPassword()">重置密码</button>
            </div>
        </form>
    </div>
</div>